[submodule "meta-xilinx"]
	path = yocto/layers/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
[submodule "meta-virtualization"]
	path = yocto/layers/meta-virtualization
	url = https://git.yoctoproject.org/git/meta-virtualization
	branch = gatesgarth
